@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@layer base {
  p {
    @apply text-[16px] lg:text-[20px] font-normal;
  }
  h1 {
    @apply text-[40px] lg:text-[50px] font-normal;
  }
  h2 {
    @apply text-[33.2px] lg:text-[41px] font-normal;
  }
  h3 {
    @apply text-[27.6px] lg:text-[35px] font-normal;
  }
  h4 {
    @apply text-[23px] lg:text-[29px] font-normal;
  }
  h5 {
    @apply text-[19.2px] lg:text-[24px] font-normal;
  }
  body {
    @apply bg-light-gray;
  }
}

@layer components {
  .mobileOnlyView {
    @apply md:hidden;
  }
  .largeOnlyView {
    @apply hidden md:block;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
