@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@layer base {
  p {
    @apply text-[16px] lg:text-[20px] font-normal;
  }
  h1 {
    @apply text-[40px] lg:text-[50px] font-normal;
  }
  h2 {
    @apply text-[33.2px] lg:text-[41px] font-normal;
  }
  h3 {
    @apply text-[27.6px] lg:text-[35px] font-normal;
  }
  h4 {
    @apply text-[23px] lg:text-[29px] font-normal;
  }
  h5 {
    @apply text-[19.2px] lg:text-[24px] font-normal;
  }
  body {
    @apply bg-light-gray text-black;
  }
}

@layer components {
  .mobileOnlyView {
    @apply md:hidden;
  }
  .largeOnlyView {
    @apply hidden md:block;
  }
  .galleryImg {
    @apply mx-auto rounded-30 hover:scale-110 transition-transform duration-500 ease-in hover:rounded-15;
  }
  .dashboardHeadings {
    @apply font-bold text-success;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .dashboardCardBG {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.85) 100%
    );
  }
  .dashboardSideBarShadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
.sphereBg {
  background: rgb(0, 128, 96);
  background: radial-gradient(
    circle,
    rgba(0, 128, 96, 0.09) 21%,
    rgba(0, 128, 96, 0.05) 100%
  );
}
.serviceCardShadow {
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.86);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.86);
}
